.db-direction-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  z-index: 3;
}

.z-index {
  z-index: 3;
}

.db-direction-container {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  border-radius: 0.5rem;
  text-decoration: none;

  transition: all 0.3s;
  filter: drop-shadow(0px 0px 5px white);
  background-color: var(--dark-blue);
}

.yellow:hover {
  transform: scale(1.01);
  background-color: rgb(2, 2, 163);
  filter: drop-shadow(0px 0px 15px var(--yellow));
}
.purple:hover {
  transform: scale(1.01);
  background-color: rgb(2, 2, 163);
  filter: drop-shadow(0px 0px 15px var(--purple));
}
.blue:hover {
  transform: scale(1.01);
  background-color: rgb(2, 2, 163);
  filter: drop-shadow(0px 0px 15px var(--neon-blue));
}

.db-direction-container h1 {
  font-size: 2rem;
}

.db-direction-container img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 600px) {
  .db-direction-container h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  .db-direction-container {
    padding: 10px;
    height: 120px;
  }
  .db-direction-container img {
    width: 40px;
    height: 40px;
  }
}
