.edit-classes-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  position: relative;
}

.edit-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.back-arrow-container {
  width: 50px;
  height: 60px;
  position: absolute;
  top: 50px;
  left: 10px;
  z-index: 4;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-arrow {
  width: 85%;
  height: 85%;
}

.edit-class-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.edit-class-title > h1 {
  font-size: clamp(3rem, 4vw, 5rem);
}

.edit-class-grid {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  justify-items: center;
  z-index: 3;
}

.confirm-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.confirm-box {
  background-color: var(--dark-blue);
  border: 3px solid var(--neon-blue);
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
}

.confirm-box > h2 {
  font-size: 2rem;
}
.confirm-box > p {
  font-size: 1.5rem;
}

.confirm-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
}

.btn-cancel {
  background: #ccc;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn-delete {
  background: #e53935;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
