.vid-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin-top: -30px;
  position: relative;
}

.vid-main > video {
  width: 100%;
}

/* PHONE */
@media only screen and (max-width: 900px) {
  .vid-main {
    margin-top: -6%;
    height: 700px;
  }

  .vid-main > video {
    height: 100%;
    object-fit: cover;
  }
}
