/* techdisplay.css */
.tech-content-container {
  width: min(100%, 500px);
  height: min(100%, 600px);
  position: relative;
  margin-top: 100px; /* ensures nothing spills outside */
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-content {
  width: min(100%, 500px);
  height: 80%;
  position: absolute;
  z-index: 1; /* content behind the svg */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  overflow: "hidden";
}

.tech-content-decor {
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: 2; /* svg border goes above */
  pointer-events: none; /* allow clicks to go through */
}

/* PHONE */
@media only screen and (max-width: 900px) {
}
