svg {
  shape-rendering: geometricPrecision;
}

.ham-button {
  width: fit-content;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.hamburger {
  width: 60px;
  height: 60px;
  border: none;
}
.line {
  stroke: var(--neon-blue);
  stroke-width: 10;
  stroke-dasharray: 80;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.top-group,
.middle-group,
.bottom-group {
  transform-origin: 50% 50%;
  transition: transform 1.1s ease-in-out;
}

.middle-group .middle {
  transition: opacity 0.8s ease-in;
  opacity: 1;
}

/* ----- When Opened ----- */
.hamburger.open .top-group {
  transform: rotate(-45deg) translateY(20px);
}
.hamburger.open .middle-group .middle {
  opacity: 0;
}
.hamburger.open .bottom-group {
  transform: rotate(45deg) translateY(-20px);
}

/* ----- When Closed ----- */
.hamburger.close .top-group {
  transform: rotate(0deg) translateY(0);
}
.hamburger.close .middle-group .middle {
  opacity: 1;
}
.hamburger.close .bottom-group {
  transform: rotate(0deg) translateY(0);
}
