:root {
  --dark-blue: hsl(224, 100%, 8%);
  --neon-blue: #0bf0ff;
  --yellow: #ffe459;
  --lite-dark-blue: #050622;
  --purple: #f014ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  color: white;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.main-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.display-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-up-arrow {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 7;
  cursor: pointer;
}

.loader-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marg100 {
  margin-top: 100px;
}

@font-face {
  font-family: "Bebas";
  src: url("./BebasNeue-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Anton";
  src: url("./Anton-Regular.ttf") format("truetype");
  font-weight: 1 999;
  font-stretch: 75% 125%;
  font-style: normal;
}
@font-face {
  font-family: "Urban";
  src: url("./Urbanist-VariableFont_wght.ttf") format("woff2");
  font-weight: 1 999;
  font-stretch: 75% 125%;
  font-style: normal;
}
.bebas-font {
  font-family: "Bebas", sans-serif;
}
.bebas-thin-font {
  font-family: "Bebas", sans-serif;
  font-weight: 400;
}
.bebas-xthin-font {
  font-family: "Bebas", sans-serif;
  font-weight: 200;
}
.anton-font {
  font-family: "Anton", sans-serif;
}
.anton-thin-font {
  font-family: "Anton", sans-serif;
  font-weight: 400;
}
.anton-xthin-font {
  font-family: "Anton", sans-serif;
  font-weight: 200;
}
.urban-font {
  font-family: "Urban";
  font-weight: 800;
}
.urban-thin-font {
  font-family: "Urban";
  font-weight: 400;
}

.dark-silver-bg {
  background-color: #656565;
}

.silver-bg {
  background-color: #d9d9d9;
}

.charcoal-bg {
  background-color: #181818;
}

.off-white-bg {
  background-color: #f5f5f5;
}

.grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    #f5f5f5 81%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}
.dark-grey-gradient-bg {
  background: linear-gradient(
    to bottom,
    rgb(215, 215, 215) 21%,
    #a5a5a5 87%,
    #878787 100%
  );
}
.white-gradient-bg {
  background: linear-gradient(
    to bottom,
    #ffffff 10%,
    #c2c2c2 97%,
    #8f8f8f 100%
  );
}

.blue-text {
  color: var(--neon-blue);
}
.yellow-text {
  color: var(--yellow);
}
.purple-text {
  color: var(--purple);
}
.white-text {
  color: white;
}

.no-scroll {
  overflow: hidden;
}

.charcoal-text {
  color: #202020;
}

.neg-marg {
  margin-top: -1px;
}

.letter-space {
  letter-spacing: 3px;
}

.border {
  width: 100%;
  margin-top: -20px;
  z-index: 5;
}

.border-footer {
  width: 100%;
  margin-top: -30px;
  z-index: 5;
}

.phone-padding {
  padding: 10px 20px;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.flex-evenly {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.pointer {
  cursor: pointer;
}

/* PHONE */
@media only screen and (max-width: 900px) {
  .flex-evenly {
    flex-direction: column;
  }
}
