.single-class-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  position: relative;
}
.single-class-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.single-class-z-index {
  width: 100%;
  z-index: 3;
}

.single-block {
  width: 200px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 2px solid var(--neon-blue);
  border-radius: 0.5rem;
  background-color: var(--dark-blue);
}

.single-block-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
