.single-class-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 50px;
  position: relative;
}
.single-class-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.single-class-z-index {
  z-index: 3;
}
