.footer-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: var(--dark-blue);
  margin-top: 100px;
  position: relative;
}
.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 10px 20px;
}

.logo-container {
  width: 500px;
  position: relative;
  margin-bottom: 50px;
  margin-top: 100px;
}

.logo-container > img {
  width: 100%;
}

.content-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center {
  justify-content: center;
}

.contact-icon {
  width: 80px;
  height: 80px;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-icon:hover {
  filter: drop-shadow(0px 0px 10px var(--neon-blue));
}

.footer-text {
  font-size: clamp(2rem, 4vw, 3rem);
}

.footer-login {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 6%;
  right: 2%;
  cursor: pointer;
}

/* BIG SCREEN */
@media only screen and (min-width: 1400px) {
}

/* PHONE */
@media only screen and (max-width: 900px) {
  .footer-main {
    padding: 10px 20px 50px 20px;
  }
  .logo-container {
    width: 90%;
    margin-bottom: 50px;
    margin-top: 100px;
  }

  .contact-icon {
    width: 50px;
    height: 50px;
  }

  .content-container {
    height: 70%;
  }

  .footer-text {
    font-size: 3rem;
  }

  .footer-login {
    top: 50px;
    z-index: 4;
  }
}
