.footer-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  margin-top: -30px;
  padding: 50px;
  background-color: var(--dark-blue);
}

.logo-container {
  width: 500px;
  position: relative;
  margin-bottom: 50px;
}

.logo-container > img {
  width: 100%;
}
.footer-shine {
  width: 50%;
  height: 40%;
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.568) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.content-container {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.center {
  justify-content: center;
}

.contact-icon {
  width: 80px;
  height: 80px;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.contact-icon:hover {
  filter: drop-shadow(0px 0px 10px var(--neon-blue));
}

.footer-text {
  font-size: clamp(2rem, 4vw, 3rem);
}

/* BIG SCREEN */
@media only screen and (min-width: 1400px) {
}

/* PHONE */
@media only screen and (max-width: 900px) {
  .footer-main {
    padding: 50px 20px;
  }

  .logo-container {
    width: 90%;
    margin-bottom: 50px;
  }

  .contact-icon {
    width: 50px;
    height: 50px;
  }

  .content-container {
    height: 70%;
  }

  .footer-text {
    font-size: 3rem;
  }
}
