.db-hero-main-container {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  overflow: hidden;
  padding: 5%;
  margin-top: -1px;
  gap: 20px;
}

.db-hero-main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.db-hero-main-container h1 {
  z-index: 1;
  line-height: 1;
  color: white;
  filter: drop-shadow(12px 10px 4px rgba(0, 0, 0, 0.8));
  font-size: clamp(8rem, 12vw, 12rem);
}

@media only screen and (max-width: 600px) {
  .db-hero-main-container {
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 400px;
    padding: 20px;
  }

  .db-hero-main-container img {
    object-position: top;
  }

  .db-hero-main-container h1 {
    margin-bottom: 10px;

    text-align: center;
    font-size: 4rem;
  }
}
