.nav-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9;
}

.nav-overflow-container {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 9;
  position: relative;
  overflow: hidden;
}
.nav-line {
  width: 300px;
  position: absolute;
  top: -50px;
  left: 150px;
  overflow: hidden;
}

.nav-line img {
  width: 100%;
  height: 100%;
}
.nav-line-2 {
  width: 200px;
  position: absolute;
  top: -50px;
  left: 20%;
}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  cursor: pointer;
}

.logo-links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: relative;
}

.logo-links img {
  width: 300px;
  height: auto;
  cursor: pointer;
  margin-bottom: 10px;
}

.shine {
  width: 120px; /* wider */
  height: 60px; /* shorter for ellipse shape */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0.568) 0%,
    rgba(255, 255, 255, 0) 50%
  );
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}

.space-decor {
  width: 300px;
  position: absolute;
  top: 0px;
}

.tech-decor-container {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: -20px;
}

.tech-decor {
  width: 100%;
}

.tech-decor-line {
  width: 20%;
  position: absolute;
  left: 0px;
}
.tech-decor-line-right {
  width: 20%;
  position: absolute;
  right: 0px;
  transform: scaleX(-1);
}
.roto {
  right: 0px;
  transform: scaleX(-1);
}

.links {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}
.link-container {
  width: fit-content;
  height: 40px;
  color: white;
}

.link-container:hover {
  color: var(--yellow);
}

.links h1 {
  cursor: pointer;
  font-size: 2rem;
  transition: all 0.3s;
  height: 90%;
}

.active {
  width: 100%;
  height: 3px;
  background-color: var(--yellow);
}

.socials {
  width: fit-content;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  right: 5px;
  gap: 10px;
  z-index: 10;
}

.socials img {
  width: 25px;
  filter: invert(1);
  margin: 0 auto;
  height: auto;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.socials img:hover {
  background-color: var(--lite-orange);
  filter: none;
  border: 1px solid var(--lite-orange);
  border-radius: 0.2rem;
}

.arrow-button {
  width: fit-content;
  height: 30px;
  border-radius: 50px;
  padding: 6px;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
}

.arrow-button img {
  width: 20px;
}

.nav-hamburger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  z-index: 2;
  border-radius: 0.5rem;
  padding: 3px;
}

@media only screen and (max-width: 900px) {
  .nav-main-container {
    flex-direction: column;
    align-items: center;
    height: 130px;
  }

  .logo-ham-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-phone-dropdown-container {
    width: 100%;
    height: calc(100vh - 130px);
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 999;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .dropdown-links-container {
    width: 100%;
    height: 80%;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .dropdown-link-name {
    font-size: 3rem;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
    color: white;
  }

  .dropdown-link-name:hover {
    color: var(--orange);
  }

  .search-result {
    flex-direction: column;
  }
  .nav-line {
    left: 70px;
    width: 200px;
  }
}
